@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Michigan Modular</h1>
    <p>@ViewBag.CustName</p>
    <a asp-controller="Customer" asp-action="Index">Create Account</a>
    <br />
    <a asp-controller="Customer" asp-action="Login">Login</a>
    <br />
    <a asp-controller="StoreFront" asp-action="Index">View Stores</a>
    <br />
</div>