@model IEnumerable<WebUI.Models.StoreFrontVM>

<h1 >List of Michigan Modular Locations</h1>

<table class="table table-striped table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th></th>
    </tr>
    @foreach (StoreFrontVM store in Model)
    {

        <tr >
            <td>@Html.DisplayFor(modelItem => store.StoreFrontId)</td>
            <td>@Html.DisplayFor(modelItem => store.Name)</td>
            <td>@Html.DisplayFor(modelItem => store.Address)</td>
            <td><button class="btn btn-primary">@Html.ActionLink("Visit", "Index", "LineItem", new { p_storeId = store.StoreFrontId }, new { @style = "color: white" })</button></td>
        </tr>
    }
</table>